<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span> Portrait manager
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{active: (state.current.name=='people')}"><a ui-sref="people">People</a></li>
        <li ng-class="{active: (state.current.name=='teachers')}"><a ui-sref="teachers">Teachers</a></li>
        <li ng-class="{active: (state.current.name=='grades')}"><a ui-sref="grades">Grades</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
