<div class="container">

	<div ng-include="'components/navbar/navbar.html'"></div>

	<div class="container col-sm-12">
		<h2>People</h2>
		<button ng-hide="vm.editMode" class="btn btn-success" ng-click="vm.openEditor()">
			<span class="glyphicon glyphicon-plus"/>
			Add
		</button>
		<br>
		<br>
		<div>
			<div ng-repeat="item in vm.collection" class="portrait">

				<div ng-if="vm.imageForItem(item)" class="center-cropped" 
     style="background-image: url('{{vm.imageForItem(item)}}');" ng-click="vm.openViewer(item)"></div>

				<div class="name">{{item.firstName}} {{item.lastName}}</div>
				<div class="round-button top-right" ng-click="vm.destroy(item)">
					<span class="glyphicon glyphicon-remove white"></span>
				</div>
				<div class="round-button top-right under" ng-click="vm.openEditor(item)">
					<span class="glyphicon glyphicon-edit white"></span>
				</div>
			</div>
		</div>
	</div>
</div>