<div class="container">

	<div ng-include="'components/navbar/navbar.html'"></div>

	<div class="container col-sm-12">
		<h2>People</h2>
		<div class="row">
		     <div class="col-xs-12 col-sm-8">
			<button ng-hide="vm.editMode" class="btn btn-success" ng-click="vm.openEditor()">
				<span class="glyphicon glyphicon-plus"/>
				Add
			</button>
		     </div>
		     <div class="form-group form-inline col-xs-12 col-sm-2">
			    <label for="selection-by">Select: </label>
			    <select id="selection-by" ng-model="vm.selectionBy"
				    ng-options="opt for opt in vm.selectOptions"
				    ng-change="vm.updateFilterAndSelectors()"
				    class="form-control">
			    </select>
		     </div>
		     <div ng-switch="vm.selectionBy" class="form-group col-xs-12
				    col-sm-2">
			<select ng-switch-when="Teacher"
				ng-change="vm.selectedEntity.teacher || (vm.selectedEntity={})"
				ng-options="teacher._id as teacher.lastName + ' ' + teacher.firstName for teacher in vm.teachers"
				ng-model="vm.selectedEntity.teacher"
				class="form-control need-reset"> 
				<option value="">-- choose --</option>
			</select>
			<select ng-switch-when="Grade"
				ng-change="vm.selectedEntity.grade || (vm.selectedEntity={})"
				ng-options="grade._id as grade.name for grade in vm.grades"
				ng-model="vm.selectedEntity.grade"
				class="form-control need-reset"> 
				<option value="">-- choose --</option>
			</select>
                     </div>
		</div>
		<br>
		<br>
		<div>
			<div ng-repeat="item in vm.collection | filter:vm.selectedEntity" class="portrait">

				<div ng-if="vm.imageForItem(item)" class="center-cropped" 
     style="background-image: url('{{vm.imageForItem(item)}}');" ng-click="vm.openViewer(item)"></div>

				<div class="name">{{item.firstName}} {{item.lastName}}</div>
				<div class="round-button top-right" ng-click="vm.destroy(item)">
					<span class="glyphicon glyphicon-remove white"></span>
				</div>
				<div class="round-button top-right under" ng-click="vm.openEditor(item)">
					<span class="glyphicon glyphicon-edit white"></span>
				</div>
			</div>
		</div>
	</div>
</div>
