<div class="container">

	<div ng-include="'components/navbar/navbar.html'"></div>

	<div class="container">
		<div class="container col-md-5">
			<h2>Grades</h2>
			<br>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.collection">
						<td>{{item.name}}</td>
						<td>
							<div class="action">
								<span class="action-buttons">
									<button ng-click="vm.edit(item)" class='btn btn-xs btn-warning'>Edit</button>
									<button ng-click="vm.destroy(item)" class='btn btn-xs btn-danger'>Delete</button>
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<p >{{item.name}}</p>
		</div>
		<div class="container col-md-1"></div>
		<div class="container col-md-5">
			<h2>{{vm.editMode && 'Edit' || 'Create'}}</h2>
			<br>
			<form role="form">
				<div class="form-group">
					<label for="name">Name:</label>
					<input ng-model="vm.currentItem.name" class="form-control" id="name"></div>
			</form>
			<br>
			<button ng-hide="vm.editMode" class="btn btn-success" ng-click="vm.create()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				Create
			</button>
			<span ng-show="vm.editMode">
				<button class="btn btn-warning" ng-click="vm.update()">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Update
				</button>
				<button class="btn btn-danger" ng-click="vm.cancel()">
					<span class="glyphicon glyphicon-cross" aria-hidden="true"></span>
					Cancel
				</button>
			</span>

			<br/>
			<br/>

		</div>
	</div>
</div>